body {
  background-color: rgba(0, 0, 255, 0.5);
  font-family: calibri;
  color: #f1f1f9;
}

#survey-form {
  width: 70vh;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  padding: 15px 15px 40px 15px;
  background-color: rgba(0, 0, 65, 0.9);
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

p {
  text-align: center;
  margin: -15px 0 15px 0;
}

fieldset {
  border: none;
}

label {
  display: block;
  margin: 0.5rem 0.5rem;
}

input,
textarea,
select {
  width: 100%;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.details input {
  background-color: #f1f1f9;
  border-radius: 5px;
  padding-top: 3px;
  margin-top: 0.3rem;
}

select {
  background-color: #f1f1f9;
  border-radius: 5px;
  padding-top: 3px;
  margin-top: 0.3rem;
  color: rgba(0, 0, 0, 0.6);
}

textarea {
  border-radius: 5px;
  margin-top: 0.3rem;
}

input[type="submit"] {
  display: block;
  width: 92%;
  margin: auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgba(0, 180, 80, 0.9);
  min-width: 300px;
  color: #f1f1f9;
  border: none;
  border-radius: 5px;
}
